<!--Page Header-->
<section style="margin-top:50px; height:95vh" class="page-header home home-slider-1" id="home">
  <div class="slider caption-slider direction-nav">

    <!--banner 1-->
    <div class="block-caption-slider overlay-container">
      <div style="background-image: url(assets/images/banner/1.jpg); background-position: 12% 5%"
        class="__img-background"></div>
      <div class="overlay bgc-dark-o-5">
        <div class="cell-vertical-wrapper">
          <div class="cell-middle">
            <div class="caption-preset-simple-1 text-center">
              <div class="container">
                <div class="caption-wrapper">
                  <p class="font-serif-italic fz-3 caption">Si cobras tu bono a través del Banco de la Nación, no vayas al Banco, usa nuestros canales alternos</p>
                  <h1 class="text-responsive size-ll caption">Tarjeta MultiRed</h1>
                  <p class="font-serif-italic fz-3 caption">#TuBonoSinIrAlBanco</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--banner fin-->
    <!--banner-->
    <div class="block-caption-slider overlay-container">
      <div style="background-image: url(assets/images/banner/2.jpg); background-position: undefined"
        class="__img-background"></div>
      <div class="overlay bgc-dark-o-5">
        <div class="cell-vertical-wrapper">
          <div class="cell-middle">
            <div class="caption-preset-simple-5 text-center">
              <div class="container">
                <div class="caption-wrapper">
                  <p class="font-serif-italic fz-3 caption">Si cobras tu bono a través del Banco de la Nación, no vayas al Banco, usa nuestros canales alternos</p>
                  <h1 class="text-responsive size-ll caption">Cajeros automáticos</h1>
                  <p class="font-serif-italic fz-3 caption">#TuBonoSinIrAlBanco</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--banner-->
    <div class="block-caption-slider overlay-container">
      <div style="background-image: url(assets/images/banner/3.jpg); background-position: undefined"
        class="__img-background"></div>
      <div class="overlay bgc-dark-o-5">
        <div class="cell-vertical-wrapper">
          <div class="cell-middle">
            <div class="caption-preset-simple-3 text-center">
              <div class="container">
                <div class="caption-wrapper">
                  <p class="font-serif-italic fz-3 caption">Si cobras tu bono a través del Banco de la Nación, no vayas al Banco, usa nuestros canales alternos</p>
                  <h1 class="text-responsive size-ll caption">Agente MultiRed del <br /> Banco de la Nación</h1>
                  <p class="font-serif-italic fz-3 caption">#TuBonoSinIrAlBanco</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--banner-->
    <div class="block-caption-slider overlay-container">
      <div style="background-image: url(assets/images/banner/4.jpg); background-position: undefined"
        class="__img-background"></div>
      <div class="overlay bgc-dark-o-5">
        <div class="cell-vertical-wrapper">
          <div class="cell-middle">
            <div class="caption-preset-simple-2 text-center">
              <div class="container">
                <div class="caption-wrapper">
                  <p class="font-serif-italic fz-3 caption">Si cobras tu bono a través del Banco de la Nación, no vayas al Banco, usa nuestros canales alternos</p>
                  <h1 class="text-responsive size-ll caption">Banca Celular del <br /> Banco de la Nación</h1>
                  <p class="font-serif-italic fz-3 caption">#TuBonoSinIrAlBanco</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-social d-md-block d-none">
    <ul class="list-unstyled">
      <li class="animated-wrap"><a class="animated-element" href="https://www.facebook.com/BancodelaNacion"
          target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
      <li class="animated-wrap"><a class="animated-element" href="https://twitter.com/BancodelaNacion"
          target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li class="animated-wrap"><a class="animated-element" href="https://www.youtube.com/user/BNPeru"
          target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>

    </ul>
  </div>

</section>
<!--End Page Header-->

<!--seccion canales de atención-->
<section class="page-section no-padding" id="canales">
  <div class="container-fluid">
    <div class="row">
      <div class="canales col-sm-2 col-xs-12 bgc-light">
        <div>
          <div class="cell-vertical-wrapper mt-20px">
            <div class="cell-middle">
              <div class="__block">
                <img src="assets/images/logos/logo-cajero.fw.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canales col-sm-4 col-xs-12 bgc-light">
        <div>
          <div class="cell-vertical-wrapper">
            <div class="cell-middle">
              <div class="__block">
                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/cajero-lima-metropolitana.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Lima
                    Metropolitana
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>

                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/cajero-nivel-nacional.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Lima Provincias y
                    Departamentos
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canales col-sm-2 col-xs-12 bgc-light">
        <div>
          <div class="cell-vertical-wrapper mt-20px">
            <div class="cell-middle">
              <div class="__block">
                <img src="assets/images/logos/logo-agente.fw.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="canales col-sm-4 col-xs-12 bgc-light">
        <div>
          <div class="cell-vertical-wrapper">
            <div class="cell-middle">
              <div class="__block">
                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/agentes-lima-metropolitana.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Lima
                    Metropolitana
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>

                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/agentes-nivel-nacional.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Lima Provincias y
                    Departamentos
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>

                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>

<!-- Video start -->
<section class="page-section no-padding bgc-gray-rojo" id="videos">
  <div class="container-fluid wd-90 section-block">
    <div data-item-width='400'
      class="slider slide direction-nav outer-direction arrow-gray swipe-to-slide row align-items-center">
      <div data-wow-delay="0.3s" class="col-video video-bg block-icon-box-vertical wow fadeInUp masonry-item"
        *ngFor="let video of videoUrl">
        <div class="image hover-effect">
          <img alt="stats" src="{{video.urlImagen}}" class=" video-img-setting">
        </div>
        <a data-fancybox="" href="{{video.urlVideo}}" class="video-play-button position-absolute">
          <i class="far fa-play-circle"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Video ends -->

<section class="page-section no-padding" id="tv-bn">
  <div class="container-fluid">
    <div class="row">
      <div class="block-interactive-banner-3 col-sm-3 col-xs-12 bgc-gray-azul">
        
        <div class="__content">
          <div class="cell-vertical-wrapper">
            <div class="cell-middle">
              <div class="__block mt-40por">
                <p class="__sub-title">CONSULTAS</p>
                <p class="__text">
                  <a href="tel:1811" class="btn-setting btn-hvr-setting-main font-miriad btn-green text-white btn-hvr font-30">1811
                    <span class="btn-hvr-setting btn-hvr-summer-sky3">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>
                <h2 class="__title">Llamar a la línea única del Bono Familiar Universal (BFU) </h2>
              </div>
              <div class="__icon"><i class="fas fa-phone-volume"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-0  col-video video-bg">
        <div class="image hover-effect">
          <img alt="stats" src="assets/images/video/buenas-noticias.jpg" class=" video-img-setting">
        </div>

        <a data-fancybox="images" href="{{safeURLNoticia}}" class="video-play-button position-absolute col-xs-pull-6" data-caption="Buenas Noticias | Micronoticiero n.° 1">
          <i class="far fa-play-circle"></i>
        </a>
        <a data-fancybox="images" href="{{safeURLNoticia1}}" class="video-play-button position-absolute col-xs-pull-6" data-caption="Buenas Noticias | Micronoticiero n.° 2">
          <i class="far fa-play-circle"></i>
        </a>
        <a data-fancybox="images" href="{{safeURLNoticia2}}" class="video-play-button position-absolute col-xs-pull-6" data-caption="Buenas Noticias | Micronoticiero n.° 3">
          <i class="far fa-play-circle"></i>
        </a>

        <!-- <a data-fancybox="images" href="{{safeURLNoticia3}}" class="video-play-button position-absolute col-xs-pull-6" data-caption="Buenas Noticias | Micronoticiero n.° 4">
          <i class="far fa-play-circle"></i>
        </a> -->
        
      </div>
      <div class="block-interactive-banner-3 col-sm-3 col-xs-12 bgc-gray-azul">
        
        <div class="__content">
          <div class="cell-vertical-wrapper">
            <div class="cell-middle">
              <div class="__block mt-40por">
                <p class="__sub-title">HORARIO DE AGENCIAS</p>
                <!-- <h2 class="__title">Agencias</h2> -->
                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/agencia-lima-metropolitana.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr">Lima Metropolitana
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>
                <p class="__text">
                  <a href="https://www.bn.com.pe/canales-atencion/agencia-nivel-nacional.asp" target="_blank"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr">Lima Provincias y
                    Departamento
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </p>

              </div>
              <div class="__icon"><i class="far fa-clock"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog start -->
<section id="noticia" class="bg-change bg-light-gray">
  <h2 class="d-none">heading</h2>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="main-title wow fadeIn" data-wow-delay="300ms">
          <h2 class="font-40"> Noticias BN </h2>
        </div>
      </div>
    </div>


    <div id="tabs-1" class="tabs full">
      <div class="tabs-nav">
        <ul>
          <!-- <li><a href="#tabs-1-item-1" class="fz-6-s font-heading">NOVIEMBRE</a></li> -->
          <li><a href="#tabs-1-item-0" class="fz-6-s font-heading">OCTUBRE</a></li>

          <!-- <li><a href="#tabs-1-item-1" class="fz-6-s font-heading">OCTUBRE</a></li>
                <li><a href="#tabs-1-item-2" class="fz-6-s font-heading">NOVIEMBRE</a></li>
                <li><a href="#tabs-1-item-3" class="fz-6-s font-heading">DICIEMBRE</a></li> -->
        </ul>
      </div>
      <div class="tabs-content">
        <!--NOVIEMBRE-->
        <!-- <div id="tabs-1-item-1" class="__item pt-35 pb-35 pl-40 pr-40">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="news_item shadow blog-one">
                <div class="image split-blog-scale">
                  <img src="assets/images/noticias/comunicado-inicio-pago-14102020.png" alt="Imagen de comunicado de inicio de pago del bono"
                    class="img-fluid">
                </div>
                <div class="news_desc">
                  <h3 class=" line-height-normal">
                    <a [routerLink]="['noticias/noticia-prueba-2020']"
                      class="color-black font-miriad">
                      Inicio de Pago del Bono Familiar Universal 
                    </a></h3>
                  <ul class="meta-tags mt-20px mb-20px">
                    <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 10</a></li>
                    <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                    <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                  </ul>
                  <p class="mb-35px "> 
                    Banco de la Nación garantizó el orden y control en la atención de beneficiarios del bono en todo el Perú el primer día de pago
                  </p>
                  <a [routerLink]="['noticias/noticia-prueba-2020']"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>


          </div>

        </div> -->
        <!--FIN NOVIEMBRE-->
        <!--OCTUBRE-->
        <div id="tabs-1-item-0" class="__item pt-35 pb-35 pl-40 pr-40">
          <div class="row">

            <div class="col-md-4 col-sm-12">
              <div class="news_item shadow blog-one">
                <div class="image split-blog-scale">
                  <img src="assets/images/noticias/comunicado-inicio-pago-14102020.png" alt="Imagen de comunicado de inicio de pago del bono"
                    class="img-fluid">
                </div>
                <div class="news_desc">
                  <h3 class=" line-height-normal">
                    <a [routerLink]="['noticias/inicio-pago-bono-familiar-universal']"
                      class="color-black font-miriad">
                      Inicio de Pago del Bono Familiar Universal 
                    </a></h3>
                  <ul class="meta-tags mt-20px mb-20px">
                    <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 10</a></li>
                    <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                    <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                  </ul>
                  <p class="mb-35px "> 
                    Banco de la Nación garantizó el orden y control en la atención de beneficiarios del bono en todo el Perú el primer día de pago
                  </p>
                  <a [routerLink]="['noticias/inicio-pago-bono-familiar-universal']"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            
            <div class="col-md-4 col-sm-12">
              <div class="news_item shadow blog-one">
                <div class="image split-blog-scale">
                  <img src="assets/images/noticias/noticia-cajero-buque-0610202002.jpg" alt="Foto cajero en un buque"
                    class="img-fluid">
                </div>
                <div class="news_desc">
                  <h3 class=" line-height-normal"><a [routerLink]="['noticias/conoce-cajeros-buque']"
                      class="color-black font-miriad">Conoce los Cajeros Automáticos Multired que Viajan en Buque</a>
                  </h3>
                  <ul class="meta-tags mt-20px mb-20px">
                    <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 06</a></li>
                    <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                    <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                  </ul>
                  <p class="mb-35px ">Las Plataformas Itinerantes de Acción Social (PIAS) llegan a las zonas más
                    alejadas de la Amazonía. </p>
                  <a [routerLink]="['noticias/conoce-cajeros-buque']"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-xs-5">
              <div class="news_item shadow blog-one">
                <div class="image split-blog-scale">
                  <img src="assets/images/noticias/cusqueños-cajero-agente-011020202.jpeg" alt="Foto cajeros cusco"
                    class="img-fluid">
                </div>
                <div class="news_desc">
                  <h3 class="line-height-normal"><a [routerLink]="['noticias/cusquenios-prefieren-cajeros-agentes']"
                      class="color-black font-miriad">Cusqueños Prefieren Usar Cajeros y Agentes Multired</a></h3>
                  <ul class="meta-tags mt-20px mb-20px">
                    <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 01</a></li>
                    <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                    <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                  </ul>
                  <p class="mb-35px">El 90% de las transacciones se realizan mediante canales alternos del Banco de la
                    Nación. </p>
                  <a [routerLink]="['noticias/cusquenios-prefieren-cajeros-agentes']"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>

            

<!--             <div class="col-md-4 col-sm-12">
              <div class="news_item shadow blog-one">
                <div class="image split-blog-scale">
                  <img src="assets/images/noticias/comunicado-inicio-pago-10102020.png" alt="Logo BFU"
                    class="img-fluid">
                </div>
                <div class="news_desc">
                  <h3 class=" line-height-normal"><a [routerLink]="['noticias/hoy-comenzo-fase1-bfu']"
                      class="color-black font-miriad">ESTE SÁBADO 10 DE OCTUBRE SE INICIA EL PAGO DEL BONO FAMILIAR
                      UNIVERSAL (BFU) </a></h3>
                  <ul class="meta-tags mt-20px mb-20px">
                    <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 8</a></li>
                    <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                    <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                  </ul>
                  <p class="mb-35px "> <strong>FASE 1: DEPÓSITO EN CUENTA</strong>
                    Participan 20 entidades financieras privadas además del Banco de la Nación
                  </p>
                  <a [routerLink]="['noticias/hoy-comenzo-fase1-bfu']"
                    class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                    <span class="btn-hvr-setting btn-hvr-summer-sky">
                      <span class="btn-hvr-setting-inner">
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                        <span class="btn-hvr-effect"></span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div> -->


          </div>
          <div class="row mt-20">

            <!-- <div class="col-md-4 col-sm-12">
                            <div class="news_item shadow blog-one">
                                <div class="image split-blog-scale">
                                    <img  src="assets/images/noticias/logo-bono-familiar-noticia-fase1.png" alt="Logo BFU" class="img-fluid">
                                </div>
                                <div class="news_desc">
                                    <h3 class=" line-height-normal"><a [routerLink]="['noticias/inicia-pago-segundo-bono-universal-fase1-deposito-cuenta']" class="color-black font-miriad">ESTE SÁBADO 10 DE OCTUBRE SE INICIA EL PAGO DEL BONO FAMILIAR UNIVERSAL (BFU) </a></h3>
                                    <ul class="meta-tags mt-20px mb-20px">
                                        <li><a href="javascript:void(0)"><i class="fas fa-calendar-alt"></i>Oct 8</a></li>
                                        <li><a href="javascript:void(0)"> <i class="fas fa-user"></i> Banco de la Nación </a></li>
                                        <li><a href="javascript:void(0)"><i class="fas fa-share-alt"></i>Compartir</a></li>
                                    </ul>
                                    <p class="mb-35px "> <strong>FASE 1: DEPÓSITO EN CUENTA</strong>
                                      Participan 20 entidades financieras privadas además del Banco de la Nación
                                       </p>
                                    <a [routerLink]="['noticias/inicia-pago-segundo-bono-universal-fase1-deposito-cuenta']" class="btn-setting btn-hvr-setting-main btn-yellow text-white btn-hvr font-miriad">Leer más
                                        <span class="btn-hvr-setting btn-hvr-summer-sky">
                                    <span class="btn-hvr-setting-inner">
                                    <span class="btn-hvr-effect"></span>
                                    <span class="btn-hvr-effect"></span>
                                    <span class="btn-hvr-effect"></span>
                                    <span class="btn-hvr-effect"></span>
                                    </span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div> -->


          </div>
        </div>
        <!--FIN OCTUBRE-->
      </div>
    </div>
  </div>
</section>
<!-- Blog ends -->

<!-- LOGOS starts -->
<section>
  <div class="container">
    <div class="brand-carousel owl-carousel owl-theme">
      <div class="item">
        <img src="assets/images/logos/logo-bn-aux.png" alt="Logo">
      </div>
      <div class="item">
        <img src="assets/images/logos/logo-economia.png" alt="Logo">
      </div>
      <div class="item">
        <img src="assets/images/logos/logo-peru-primero.png" alt="Logo">
      </div>
    </div>
  </div>
</section>
<!-- LOGOS ends -->