<!-- Page Header -->
<section class="page_header pb-0 w-100 pd-8">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-12 page-content position-relative">
                <div class="page_nav bg-white d-inline-block">
                    <a href="/bfu/" class="d-inline-block color-black">Inicio</a> <span class="color-summer-sky"><i
                            class="ti ti-angle-double-right"></i>Hoy comenzó la fase 1 del Bono Familiar Universal (BFU)
                        BFU</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Header -->

<!-- Blog starts -->
<section class="bg-green text-left">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12">
                         <div class="blog-listing-inner heading-space">
                             <div class="image hover-effect">
                                 <img src="assets/images/noticias/noticia-cajero-buque-0610202001.jpg" alt="blog-img">
                             </div>
                     </div>
                 </div> -->

            <!-- Blog Left Listing -->
            <div class="col-lg-8 col-md-7">
                <div class="blog-box heading-space m-md-0">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner news_item">
                        <div class="news_desc">
                            <h3 class="text-capitalize font-weight-500  color-black line-height-25px">
                                HOY COMENZÓ LA FASE 1 DEL BONO FAMILIAR UNIVERSAL (BFU)
                                <br /> MODALIDAD: DEPÓSITO EN CUENTA </h3>
                            <ul class="meta-tags mt-20px mb-20px">
                                <li><a href="javascript:void(0)"><i class="ti ti-calendar"></i>Oct 10</a></li>
                                <li><a href="javascript:void(0)"> <i class="ti ti-user"></i> Banco de la Nación </a>
                                </li>
                                <li><a href="javascript:void(0)" [socialShare]="'fb'"> <i class="fas fa-share-alt"></i>
                                        Compartir </a></li>

                            </ul>
                            <blockquote class="mb-50px blockquote font-italic font-weight-light color-black">
                                Solo para los beneficiarios que tienen cuenta en alguna de las veinte entidades
                                financieras privadas participantes o en el Banco de la Nación
                                <br />
                                <span class="bg-yellow pdn-5">#TuBonoSinIrAlBanco</span>
                            </blockquote>
                            <p class="mb-15px color-grey line-height-25px">
                                Lima, 10 de octubre del 2020.- Este sábado se inició el pago del Bono Familiar Universal
                                (BFU) de 760 soles para 8.4 millones de hogares en estado de vulnerabilidad por la
                                COVID-19.
                            </p>
                            <p class="mb-15px color-grey line-height-25px">
                                Este bono cuenta con la página oficial <a class="color-yellow"
                                    href="https://bfu.gob.pe/" target="_blank">bfu.gob.pe</a> donde los ciudadanos
                                podrán consultar si son beneficiarios solo con su número de DNI y la fecha de emisión de
                                dicho documento. Aquellos que sí sean beneficiarios verán un mensaje con la fase,
                                modalidad y fecha de pago que le corresponde. También, ya están operativos 36 centros de
                                atención y orientación para consultas sobre el Bono Familiar Universal (BFU). La lista
                                completa la encuentra en este enlace: <a class="color-yellow"
                                    href="https://www.gob.pe/11217" target="_blank">
                                    https://www.gob.pe/11217</a>.

                            </p>
                            <p class="mb-15px color-grey line-height-25px">
                                El pago del Bono Familiar Universal (BFU) se realizará en cinco fases, cada una con
                                diferentes modalidades.
                                <strong>Esta Fase 1, modalidad Depósito en Cuenta</strong>, es solo para los
                                beneficiarios que tienen
                                cuenta en el Banco de la Nación o en una de las veinte entidades financieras privadas
                                que participan de esta modalidad:
                            </p>
                            <p class="mb-15px color-grey line-height-25px text-center">
                                BBVA, Scotiabank, BCP, Interbank, Banco de Comercio, BanBif, Banco Falabella, Confianza,
                                Compartamos, Caja Arequipa, Caja del Santa, Caja Huancayo, Caja los Andes, Caja Raíz,
                                Caja Trujillo, Caja Piura, Caja Cusco, Caja Metropolitana, Financiera CrediScotia y GNB.
                            </p>
                            <p class="mb-15px color-grey line-height-25px">
                                Con Depósito en Cuenta, los clientes del Banco de la Nación y de la banca privada podrán
                                cobrar su bono de acuerdo con el cronograma elaborado según el último dígito del DNI:
                            </p>

                            <div class="row">
                                <div class="col-ls-8 col-md-8">
                                    <p class="text-capitalize font-weight-500 text-center">
                                        CRONOGRAMA PARA MODALIDAD
                                        DEPÓSITO EN CUENTA

                                    </p>
                                    <table class="table table-primary">
                                        <thead>
                                            <tr>
                                                <th>ÚLTIMO DÍGITO DEL DNI</th>
                                                <th>FECHA DE DEPÓSITO </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>0</td>
                                                <td> Sábado, 10 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td> Martes, 13 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td> Jueves, 15 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td> Lunes, 19 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td> Miércoles, 21 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td> Viernes, 23 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td> Martes, 27 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td> Jueves, 29 de octubre</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td> Lunes, 2 de noviembre</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td> Miércoles, 4 de noviembre</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-ls-4 col-md-4">
                                    <p class="mb-15px color-grey line-height-25px">
                                        El Banco de la Nación pone a disposición de sus clientes novecientos cajeros
                                        automáticos y diez mil agentes MultiRed en todo el país, para que puedan
                                        disponer de su bono sin necesidad de ir a una ventanilla del banco. Además, los
                                        que reciban el bono a través del Banco de la Nación podrán hacer retiros en
                                        cajeros automáticos de otros bancos, sin pagar comisión. También, podrán
                                        disponer de su bono pagando sus compras o consumos directamente con la tarjeta
                                        MultiRed, vigente, en los comercios afiliados a VISA.
                                    </p>
                                </div>
                            </div>
                            <p class="mb-15px color-grey line-height-25px">
                                Los padrones elaborados por el Ministerio de Desarrollo e Inclusión Social (Midis) y el
                                Ministerio de Trabajo y Promoción del Empleo (MTPE) fueron revisados y ajustados para
                                garantizar que el bono llegue a los hogares vulnerables, por lo que se recomienda
                                consultar en la página <a class="color-yellow" href="https://bfu.gob.pe/"
                                    target="_blank">bfu.gob.pe</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <app-lado-derecho class="col-lg-4 col-md-5"></app-lado-derecho>
        </div>
    </div>
</section>
<!-- Blog ends -->