  <!-- Loader -->
  <div class="loader" id="loader-fade">
    <div class="loader-container center-block">
        <div class="grid-row">
            <div class="col center-block">
                <ul class="loading reversed">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p style="text-align: center; margin-left: -30px; margin-top: 80px;"><img  src="assets/images/logos/logo-bn-blanco.png"/></p>
            </div>
        </div>
    </div>
</div>

<!-- Loader ends -->

<!-- Header start -->
<header class="cursor-light multipage">
  <nav class="navbar navbar-top-default navbar-expand-lg static-nav bg-green">
      <div class="container">
          
          <a class="logo link" href="/bfu/">
              <img  src="assets/images/logos/logo-bn.png" class="logo-default">
              <img  src="assets/images/logos/logo-bn.png" alt="logo" title="Logo" class="logo-scrolled">
          </a>
          <div id="menu" class="collapse navbar-collapse d-none d-lg-block mod-menu text-center">
              <h3 class="titulo-bono"> Bono Familiar Universal (BFU)  </h3>
          </div>
<!--           <div class="d-none d-lg-inline-block">
            <a href="https://bfu.gob.pe/" target="_blank" class="btn-setting btn-hvr-setting-main btn-green text-white btn-hvr font-miriad">Consulta tu bono aquí
              <span class="btn-hvr-setting btn-hvr-summer-sky">
              <span class="btn-hvr-setting-inner">
              <span class="btn-hvr-effect"></span>
              <span class="btn-hvr-effect"></span>
              <span class="btn-hvr-effect"></span>
              <span class="btn-hvr-effect"></span>
              </span>
              </span>
          </a>
          </div> -->

          <!-- side menu open button -->
          <a class="menu_bars d-inline-block menu-bars-setting animated-wrap" id="sidemenu_toggle">
              <div class="menu-lines animated-element">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </a>
      </div>
  </nav>

  <div id="bono" class="container-fluid">
      <div class="assetBlock">
          <div id="slideshow">
          <p style="display: block;">CONSULTE AQUÍ SI SU HOGAR ES BENEFICIARIO  <a href="https://bfu.gob.pe/" target="_blank" class="btn-setting padding-head btn-hvr-setting-main btn-yellow text-azul btn-hvr font-miriad">BFU.GOB.PE
            <span class="btn-hvr-setting btn-hvr-summer-sky4">
            <span class="btn-hvr-setting-inner">
            <span class="btn-hvr-effect"></span>
            <span class="btn-hvr-effect"></span>
            <span class="btn-hvr-effect"></span>
            <span class="btn-hvr-effect"></span>
            </span>
            </span>
        </a> </p>
          <!-- <p style="display: none;">  Reporta <span class="movil">a este correo</span> <span class="amarillo"><a href="mailto:reenviodeclave@bn.com.pe" target="_blank"> reenviodeclave@bn.com.pe </a></span> <span class="movil">si no te llega tu clave de banca celular </span></p> -->
          </div>
      </div>
   </div>

  <!-- Side Menu -->
  <div class="side-menu d-none">
      <div class="inner-wrapper nav-icon">
          <span class="btn-close link" id="btn_sideNavClose"></span>
          <nav class="side-nav w-100">
              <div class="position-relative">
                  <!-- Main Menu -->
                  <div class="navbar-nav side-main-menu">
                      <a class="nav-link link active sidenav-arrow" href="#home">Inicio</a>
                      <a class="nav-link link sidenav-arrow" href="#canales">Canales de atención</a>
                      <a class="nav-link link sidenav-arrow" href="#videos">Videos</a>
                      <a class="nav-link link sidenav-arrow" href="#tv-bn">BN TV (en vivo)</a>
                      <a class="nav-link link sidenav-arrow" href="#noticia">Noticia</a>
                  </div>
                  
              </div>
          </nav>
          <div class="side-footer text-white w-100">
              <ul class="social-icons-simple">
                  <li class="side-menu-icons animated-wrap"><a class="animated-element" href="https://www.facebook.com/BancodelaNacion" target="_blank"><i class="fab fa-facebook color-white"></i> </a> </li>
                  <li class="side-menu-icons animated-wrap"><a class="animated-element" href="https://twitter.com/BancodelaNacion" target="_blank"> <i class="fab fa-twitter color-white"></i> </a> </li>
                  <li class="side-menu-icons animated-wrap"><a class="animated-element" href="https://www.youtube.com/user/BNPeru"><i class="fab fa-youtube color-white"></i> </a> </li>
              </ul>
              <p class="text-white">&copy; 2020 Banco de la Nación</p>
          </div>
      </div>
  </div>
  <a id="close_side_menu" href="javascript:void(0);"></a>
  <!--Side Menu-->
</header>
<!-- Header end -->