
    
        <!-- Page Header -->
        <section class="page_header pb-0 w-100 pd-8">
          <div class="container">
              <div class="row mt-15">
                  <div class="col-md-12 page-content position-relative">
                      <div class="page_nav bg-white d-inline-block">
                          <a href="/bfu/" class="d-inline-block color-black">Inicio</a> <span class="color-summer-sky"><i class="ti ti-angle-double-right"></i>Cusqueños prefieren usar Cajeros y Agentes Multired</span>
                      </div>
                  </div>
              </div>
          </div>
        </section>
        <!-- Page Header -->
    
        <!-- Blog starts -->
        <section class="bg-green text-left">
         <div class="container">
           <div class="row">
               <div class="col-lg-12">
                       <!-- Blog List Inner -->
                       <div class="blog-listing-inner heading-space">
                           <div class="image hover-effect">
                               <img src="assets/images/noticias/cusqueños-cajero-agente-011020201.jpeg" alt="blog-img">
                           </div>
                   </div>
               </div>
    
               <!-- Blog Left Listing -->
             <div class="col-lg-8 col-md-7">
                 <div class="blog-box heading-space m-md-0">
                     <!-- Blog List Inner -->
                     <div class="blog-listing-inner news_item">
                         <div class="news_desc">
                             <h3 class="text-capitalize font-weight-500  color-black line-height-25px">CUSQUEÑOS PREFIEREN USAR CAJEROS Y AGENTES MULTIRED</h3>
                             <ul class="meta-tags mt-20px mb-20px">
                                 <li><a href="javascript:void(0)"><i class="ti ti-calendar"></i>Oct 01</a></li>
                                 <li><a href="javascript:void(0)"> <i class="ti ti-user"></i> Banco de la Nación </a></li>
                                 <li><a href="javascript:void(0)" [socialShare]="'fb'"> <i class="fas fa-share-alt"></i> Compartir </a></li>
                                 
                             </ul>
                             <blockquote class="mb-50px blockquote font-italic font-weight-light color-black">El 90% de las transacciones se realizan mediante canales alternos del Banco de la Nación.</blockquote>
                             <p class="mb-15px color-grey line-height-25px">Es una de las agencias estratégicas del Banco de la Nación, ubicada a una cuadra de la plaza de armas del Cusco, en el corazón de la ciudad imperial. </p>
                             <p class="mb-15px color-grey line-height-25px"> La agencia Cusco cuenta con 10 orientadores de cola para promover el orden, el distanciamiento social y el impulso de canales alternos. 
                                 <span class="color-yellow pdn-5">Actualmente, cerca del 90% de las transacciones se realizan mediante cajeros automáticos y agentes MultiRed, ubicados de manera estratégica. </span> </p>
                             <p class="mb-15px color-grey line-height-25px"> Con la próxima llegada del Bono Familiar Universal se reforzó la capacidad de atención en la oficina especial del Banco de la Nación, ubicada en la Universidad "San Antonio Abad" del Cusco. </p>
                             <p class="mb-15px color-grey line-height-25px"> Guevara, explica que la atención se amplió de 2 a 4 ventanillas: "Hemos implementado dos más para tener permanentemente 4 personas. De presentarse un caso de contagio o un trabajador con sintomatología de COVID en la oficina principal, el personal de la universidad podrá trasladarse y cubrir esa necesidad".</p>
                             <p class="mb-15px color-grey line-height-25px"> En Cusco también se coordinó con la policía nacional y el ejército para que presten apoyo con el orden y distanciamiento social. </p>
                             <p class="mb-15px color-grey line-height-25px"> El Banco de la Nación mantiene su compromiso y esfuerzo para que el público tenga acceso a todos sus servicios de manera segura, ordenada y sin necesidad de ir al Banco. </p>
                         
                             <div class="row">
                                <div class="col-md-12 col-sm-12 p-0  col-video video-bg">
                                    <div class="image hover-effect">
                                        <img alt="stats" src="assets/images/noticias/cusqueños-cajero-agente-011020203.jpg" class=" video-img-setting">
                                    </div>
                                    <a data-fancybox="" href="https://youtu.be/j5PNuhBfLmM"
                                        class="video-play-button position-absolute col-xs-pull-6">
                                        <i class="far fa-play-circle"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                     </div>
                 </div>
             </div>
             <app-lado-derecho class="col-lg-4 col-md-5"></app-lado-derecho>
           </div>
         </div>
        </section>
        <!-- Blog ends -->
    

    
    
    
