
<!-- Footer starts -->
<footer class="p-half bg-black2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="footer-icons mb-4">
                    <li><a href="https://www.facebook.com/BancodelaNacion" target="_blank" class="wow fadeInUp facebook"><i class="fab fa-facebook"></i> </a> </li>
                    <li><a href="https://twitter.com/BancodelaNacion" target="_blank" class="wow fadeInDown twitter"><i class="fab fa-twitter"></i> </a> </li>
                    <li><a href="https://www.youtube.com/user/BNPeru" target="_blank" class="wow fadeInDown youtube"><i class="fab fa-youtube"></i> </a> </li>
                </ul>
                <p class="copyrights mt-2 mb-2">© Banco de la Nación <a href="https://www.bn.com.pe">www.bn.com.pe</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->

<!--Animated Cursor-->
<div id="animated-cursor">
    <div id="cursor">
        <div id="cursor-loader"></div>
    </div>
</div>
<!--Animated Cursor End-->