<!-- Page Header -->
<section class="page_header pb-0 w-100 pd-8">
    <div class="container">
        <div class="row mt-15">
            <div class="col-md-12 page-content position-relative">
                <div class="page_nav bg-white d-inline-block">
                    <a href="/bfu/" class="d-inline-block color-black">Inicio</a> <span class="color-summer-sky"><i
                            class="ti ti-angle-double-right"></i>Este sábado 10 de octubre se inicia el pago del Bono Familiar Universal
                        BFU</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Header -->

<!-- Blog starts -->
<section class="bg-green text-left">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12">
                         <div class="blog-listing-inner heading-space">
                             <div class="image hover-effect">
                                 <img src="assets/images/noticias/noticia-cajero-buque-0610202001.jpg" alt="blog-img">
                             </div>
                     </div>
                 </div> -->

            <!-- Blog Left Listing -->
            <div class="col-lg-8 col-md-7">
                <div class="blog-box heading-space m-md-0">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner news_item">
                        <div class="news_desc">
                            <h3 class="text-capitalize font-weight-500  color-black line-height-25px">ESTE SÁBADO 10 DE OCTUBRE SE INICIA EL PAGO DEL BONO FAMILIAR UNIVERSAL (BFU) <br> FASE 1:
                                    DEPÓSITO EN CUENTA </h3>
                            <ul class="meta-tags mt-20px mb-20px">
                                <li><a href="javascript:void(0)"><i class="ti ti-calendar"></i>Oct 8</a></li>
                                <li><a href="javascript:void(0)"> <i class="ti ti-user"></i> Banco de la Nación </a>
                                </li>
                                <li><a href="javascript:void(0)" [socialShare]="'fb'"> <i class="fas fa-share-alt"></i>
                                        Compartir </a></li>

                            </ul>
                            <blockquote class="mb-50px blockquote font-italic font-weight-light color-black">Participan
                                veinte entidades financieras privadas además del Banco de la Nación
                            </blockquote>
                            <p class="mb-15px color-grey line-height-25px">Jueves, 8 de octubre del 2020.- Este sábado
                                10 de octubre se inicia el pago del Bono Familiar Universal (BFU) de 760 soles para 8.4
                                millones de hogares en estado de vulnerabilidad por la COVID-19.</p>
                            <p class="mb-15px color-grey line-height-25px"> Este bono cuenta con la plataforma única de
                                consulta: <a href="https://bfu.gob.pe/">bfu.gob.pe</a>. Solo se requiere ingresar el número de DNI y la fecha de emisión.
                                Aquellos que sí sean beneficiarios verán un mensaje con la fase, modalidad y fecha de
                                pago que le corresponde.
                            </p>
                            <p class="mb-15px color-grey line-height-25px"> El pago del Bono Familiar Universal (BFU) se
                                realizará en cinco fases, cada una con diferentes modalidades. </p>
                            <p class="mb-15px color-grey line-height-25px"> La Fase 1 arranca con la modalidad Depósito
                                en Cuenta y viene acompañada del slogan “Tu bono sin ir al banco”. Participan 20
                                entidades financieras privadas: BBVA, Scotiabank, BCP, Interbank, Banco de Comercio,
                                BanBif, Banco Falabella, Confianza, Compartamos, Caja Arequipa, Caja del Santa, Caja
                                Huancayo, Caja los Andes, Caja Raíz, Caja Trujillo, Caja Piura, Caja Cusco, Caja
                                Metropolitana, Financiera CrediScotia y GNB. </p>
                            <p class="mb-15px color-grey line-height-25px"> Con Depósito en Cuenta, los clientes del
                                Banco de la Nación y de la banca privada podrán cobrar su bono de acuerdo con el
                                cronograma elaborado según el último dígito del DNI:</p>

                            <p class="text-capitalize font-weight-500 text-center"> CRONOGRAMA PARA MODALIDAD DEPÓSITO
                                EN CUENTA</p>
                            <table class="table table-primary">
                                <thead>
                                    <tr>
                                        <th>ÚLTIMO DÍGITO DEL DNI</th>
                                        <th>FECHA DE DEPÓSITO </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0</td>
                                        <td>10 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>13 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>15 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>19 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>21 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>23 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>27 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>29 de octubre</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>2 de noviembre</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>4 de noviembre</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="mb-15px color-grey line-height-25px">El Banco de la Nación pone a disposición de
                                sus clientes nueve mil cajeros automáticos y diez mil agentes MultiRed en todo el país,
                                para que puedan disponer de su bono sin necesidad de ir a una ventanilla del banco.
                                Además, los que reciban el bono a través del Banco de la Nación podrán hacer retiros en
                                cajeros automáticos de otros bancos, sin pagar comisión. También, podrán disponer de su
                                bono pagando sus compras o consumos directamente con la tarjeta MultiRed, vigente, en
                                los comercios afiliados a VISA.</p>

                            <p class="mb-15px color-grey line-height-25px">
                                Estas son <strong>las otras fases </strong>y modalidades de pago del Bono Familiar
                                Universal:
                            </p>
                            <ul class="lista color-grey ml-30">
                                <li class="cuadrado-rojo">Fase 2
                                    <ul class="ml-10">
                                        <li class="check-amarillo"><strong>Modalidad Carrito Pagador</strong> o Empresa Transportadora de Valores (ETV): llegará a las localidades más alejadas, donde no hay agencias de ningún banco.</li>
                                    </ul>
                                </li>
                                <li class="cuadrado-rojo">Fase 3
                                    <ul class="ml-10">
                                        <li class="check-amarillo"><strong>Modalidad Billetera Digital</strong></li>
                                        <li class="check-amarillo"><strong>Modalidad Banca Celular del Banco de la Nación</strong></li>
                                    </ul>
                                </li>
                                <li class="cuadrado-rojo">Fase 4
                                    <ul class="ml-10">
                                        <li class="check-amarillo"><strong>	Modalidad Billetera Digital</strong></li>
                                        <li class="check-amarillo"><strong>	Modalidad Banca Celular del Banco de la Nación</strong></li>
                                        <li class="check-amarillo"><strong>	Modalidad Cuenta DNI</strong></li>
                                    </ul>
                                </li>
                                <li class="cuadrado-rojo">Fase 5
                                    <ul class="ml-10">
                                        <li class="check-amarillo"><strong>Modalidad de pago presencial en lugares focalizados</strong>: estadios, colegios y parques zonales.</li>
                                    </ul>
                                </li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <app-lado-derecho class="col-lg-4 col-md-5"></app-lado-derecho>
        </div>
    </div>
</section>
<!-- Blog ends -->